:root {
  --first-colour: #fafafa;
  --second-colour: #c7eeff;
  --third-colour: #0077c0;
  --fourth-colour: #1d242b;
}

h1 {
  color: var(--fourth-colour);
  text-align: center;
  font-size: 100px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
p {
  text-align: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 20px;
}
.container {
  background-color: var(--second-colour);
  padding: 50px;
}

body {
  margin-top: 75px;
}
