:root {
  --first-colour: #fafafa;
  --second-colour: #c7eeff;
  --third-colour: #0077c0;
  --fourth-colour: #1d242b;
}

.navbar-custom {
  background-color: var(--fourth-colour) !important;
}
.navbar-brand {
  color: var(--first-colour) !important;
}

.navbar-toggler {
  background-color: var(--first-colour);
}
h1 {
  color: var(--fourth-colour);
  text-align: center;
  font-size: 100px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-bottom: 40px;
}
body {
  margin-top: 75px;
  background-color: var(--first-colour);
}

h3 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
  margin: 30px 20px;
}

.about-section {
  background-color: var(--second-colour);
  padding: 20px 70px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
}

p {
  margin: 30px 200px;
  background-color: var(--second-colour);
  padding: 20px;
  border-radius: 10px;
}
